{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Home{% endblock %}

{% block page_description %}A website for the band Queen using the original members and studio albums.{% endblock %}

{% block content %}

{% include "_includes/jumbotron.njk" %}

<div class="container">

  <h5 class="text-center">Interested in all things Queen? You're in the right place! Here you can learn more about Queen's band members and view all of their discography at a glance.</h5>

  <h2>Explore Queen's Members</h2>
  
  <div class="row">
    {% for member in queen.members %}
    <div class="col-sm-6 col-lg-3">
      <a href="members/{{ member.slug }}.html" class="card-link text-white">
        <div class="card card-member mb-4 text-center">
          <img class="card-img-top" src="img/members/{{ member.image }}" alt="{{ member.name }}">

          <div class="card-img-overlay d-flex align-items-end">
            <h1 class="card-title" id="card-member-name">{{ member.name }}</h1>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <br>
</div>
{% endblock %}