{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Home{% endblock %}

{% block page_description %}A website for the band Queen using the original members and studio albums.{% endblock %}

{% block content %}

{% include "_includes/jumbotron.njk" %}

<div class="container">

  <h2>Queen Members</h2>
  
  <div class="row">
    {% for member in queen.members %}
    <div class="col-sm-6 col-lg-3">
      <!--<a href="members/{{ member.slug }}.html" class="card-link text-danger">-->
        <div class="card card-member mb-4 text-center">
          <img class="card-img-top" src="img/members/{{ member.image }}" alt="{{ member.name }}">

          <!--<div class="card-img-overlay d-flex align-items-end">-->
          <div class="card-body">
            <h3 class="card-title">{{ member.name }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{ member.instruments }}</h6>
            <a href="members/{{ member.slug }}.html" class="card-link text-primary">Learn More</a>
          </div>
        </div>
      <!--</a>-->
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}