{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Queen | {{ name }}{% endblock %}

{% block page_description %}About {{ name }} from Queen.{% endblock %}

{% block content %}
  <article class="container member-container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/members/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8 band-member">
        <h1>{{ name }}</h1>
        <ul class="list-group">
          <strong>
            <li class="list-group-item list-group-item-warning text-dark">{{ instruments }} {{ tenure }}</li>
            <li class="list-group-item list-group-item-warning text-dark">Born {{birthdate}} in {{ birthplace }}</li>
          </strong>
          <li class="list-group-item">{{ description | safe }}</li>
        </ul>
      </div>
    </div>
  </article>
{% endblock %}
