{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container member-container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/members/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
        <h1>{{ name }}</h1>
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary">{{ instruments }} {{ tenure }}</li>
          <li class="list-group-item list-group-item-primary">Born {{birthdate}} in {{ birthplace }}</li>
          <li class="list-group-item">{{ description | safe }}</li>
        </ul>
        <!--<p>{{ description | safe }}</p>-->
      </div>
    </div>
  </article>
{% endblock %}
