/* Discography page */

.card-album {
  background: black;
  overflow: hidden;

  img {
    opacity: 1;
  }
  .card-album-text {
    opacity: 0;
  }
}

.card-album:hover {
  img {
    opacity: 0.2;
  }

  .card-album-text {
    opacity: 1;
  }
}