.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem
}

.jumbotron {
  text-align: center;
  border-radius: 0px;

  img {
    width: 400px;
    margin-bottom: 20px;
  }
}