.member-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#card-member-name {
  font-size: 3.5em;
}

.band-member {
  h1 {
    font-size: 5em;
    margin-bottom: 0.25em;
  }
}

.card-member {
  background: black;
  overflow: hidden;

  img {
    opacity: 0.5;
  }
}

.card-member:hover {
  img {
    opacity: 1;
  }
}
